{% include "frontend/header.html" %}
{% load static %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo mr-5" href="/"><img src="{% static 'admin/inf.png' %}" class="mr-2"
        alt="logo" />Cerdas</a>
    <a class="navbar-brand brand-logo-mini" href="/"><img src="{% static 'admin/inf.png' %}" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button>


    <ul class="navbar-nav mr-lg-2">
      <li class="nav-item nav-search d-none d-lg-block">
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item">
        {{request.user.profileuser.name}}
      </li>
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
          {% if request.user.is_authenticated %}
          <img src="/media/{{ request.user.profileuser.profile_pic }}" alt="profile" />
          {% else %}
          <img src="{% static 'admin/defaultavatar.png' %}" alt="profile" />
          {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          {% if request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'home:list_fav' %}">
            <i class="fa-solid fa-bookmark" style="color: #7D9D9C;"></i>
            Bookmark
          </a>
          <a class="dropdown-item" href="{% url 'home:profile' %}">
            <i class="fa-solid fa-user-tie" style="color: #7D9D9C;"></i>
            Edit Profil
          </a>
          <a class="dropdown-item" href="{% url 'logout' %}">
            <i class="fa-sharp fa-solid fa-power-off" style="color: #7D9D9C;"></i>
            Keluar
          </a>
          {% else %}
          <a class="dropdown-item" href="{% url 'login' %}">
            <i class="fa-solid fa-right-to-bracket" style="color: #7D9D9C;"></i>
            Masuk
          </a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel" style="width: 100%;">
    {% include 'frontend/messages.html' %}
    <div class="content-wrapper" style="background-color: #dbe7c8;">
      <div class="row justify-content-center">
        {% for b in journal %}
        <div class="col-12 col-md-10 col-lg-8 stretch-card grid-margin">
          <div class="card">
            <div class="card-body shadow">
              <ul class="icon-data-list">
                <li>
                  <div class="d-flex">
                    <div> <a href="/results/{{b.pk}}/detail/">
                        <h5 class=" mb-2" style="color: #5f7667; font-weight: bold;">{{b.judul_laporan}}</h5>
                      </a>
                      <span class="text-secondary">{{b.nama_penulis}} ({{b.prodi}}, {{b.tahun_penyelesaian}})</span>
                      <p class="mb-1">{{b.abstrak}}</p>
                      {% for u in request.user.groups.all %}
                      {% if u.name == 'user' %}
                      <a href="/results/{{b.pk}}/post_favorite_kartul/" class="btn"><i class="fa-solid fa-bookmark"
                          style="color: #7D9D9C;"></i></a>
                      {% endif %}
                      {% endfor %}

                      <button type="button" class="btn" data-toggle="modal" data-target="#journal">
                        <i class="fa-solid fa-quote-right"></i>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="journal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Daftar Pustaka</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-3">
                                    <b>MLA</b>
                                  </div>
                                  <div class="col-9">
                                    <h6 class="text-black">{{b.nama_penulis}}. "{{b.judul_laporan}}"
                                      <i>{{b.jenis_laporan}}</i> ({{b.tahun_penyelesaian}})
                                    </h6 class="text-black">
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-3">
                                    <b>APA</b>
                                  </div>
                                  <div class="col-9">
                                    <h6 class="text-black">{{b.nama_penulis}}. ({{b.tahun_penyelesaian}}).
                                      "{{b.judul_laporan}}", <i>{{b.jenis_laporan}}</i></h6 class="text-black">
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-3">
                                    <b>ISO 690</b>
                                  </div>
                                  <div class="col-9">
                                    <h6 class="text-black">{{b.nama_penulis}}. "{{b.judul_laporan}}"
                                      <i>{{b.jenis_laporan}}, </i>{{b.tahun_penyelesaian}}
                                    </h6 class="text-black">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
        {% for d in skripsi %}
        <div class="col-12 col-md-10 col-lg-8 stretch-card grid-margin">
          <div class="card">
            <div class="card-body shadow">
              <ul class="icon-data-list">
                <li>
                  <div class="d-flex">
                    <div> <a href="/results/{{d.pk}}/detail/">
                        <h5 class=" mb-2" style="color: #5f7667; font-weight: bold;">{{d.judul_laporan}}</h5>
                      </a>
                      <span class="text-secondary">{{d.nama_penulis}} ({{d.prodi}}, {{d.tahun_penyelesaian}})</span>
                      <p class="mb-1">{{d.abstrak}}</p>
                      {% for u in request.user.groups.all %}
                      {% if u.name == 'user' %}
                      <a href="/results/{{d.pk}}/post_favorite/" class="btn"><i class="fa-solid fa-bookmark"
                          style="color: #7D9D9C;"></i></a>
                      {% endif %}
                      {% endfor %}

                      <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa-solid fa-quote-right"></i>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Daftar Pustaka</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-3">
                                    <b>MLA</b>
                                  </div>
                                  <div class="col-9">
                                    <h6 class="text-black">{{d.nama_penulis}}. "{{d.judul_laporan}}"
                                      <i>{{d.jenis_laporan}}</i> ({{d.tahun_penyelesaian}})
                                    </h6 class="text-black">
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-3">
                                    <b>APA</b>
                                  </div>
                                  <div class="col-9">
                                    <h6 class="text-black">{{d.nama_penulis}}. ({{d.tahun_penyelesaian}}).
                                      "{{d.judul_laporan}}", <i>{{d.jenis_laporan}}</i></h6 class="text-black">
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-3">
                                    <b>ISO 690</b>
                                  </div>
                                  <div class="col-9">
                                    <h6 class="text-black">{{d.nama_penulis}}. "{{d.judul_laporan}}"
                                      <i>{{d.jenis_laporan}}, </i>{{d.tahun_penyelesaian}}
                                    </h6 class="text-black">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
        {{notfound}}
      </div>
    </div>
    {% include 'frontend/footer.html' %}