{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper" style="background-color: #dbe7c8;">
    {% if skripsi %}
    {% for b in skripsi %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="mb-3">
                    <h3 class="text-center" style="color: #5f7667; font-weight: bold;">{{b.judul_laporan}}</h3>
                </div>
                <div class="mb-3">
                    <h6 class="text-center text-secondary">{{b.nama_penulis}}, {{b.prodi}},
                        {{b.tahun_penyelesaian}}
                        {% for u in request.user.groups.all %}
                        {% if u.name == 'user' %}
                        <a href="/results/{{b.pk}}/post_favorite/" class="btn"><i class="fa-solid fa-bookmark"
                                style="color: #7D9D9C;"></i></a>
                        {% endif %}
                        {% endfor %}
                </div>
                </h6>
            </div>
            <div class="mb-0">
                <p class="text-center">
                    {{b.abstrak}}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home"
                        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">COVER</button>
                    <br>
                    <button class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
                        data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">DAFTAR
                        ISI</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab1-tab" data-toggle="pill" data-target="#v-pills-bab1"
                        type="button" role="tab" aria-controls="v-pills-bab1" aria-selected="false">BAB I</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab2-tab" data-toggle="pill" data-target="#v-pills-bab2"
                        type="button" role="tab" aria-controls="v-pills-bab2" aria-selected="false">BAB II</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab3-tab" data-toggle="pill" data-target="#v-pills-bab3"
                        type="button" role="tab" aria-controls="v-pills-bab3" aria-selected="false">BAB III</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab4-tab" data-toggle="pill" data-target="#v-pills-bab4"
                        type="button" role="tab" aria-controls="v-pills-bab4" aria-selected="false">BAB IV</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab5-tab" data-toggle="pill" data-target="#v-pills-bab5"
                        type="button" role="tab" aria-controls="v-pills-bab5" aria-selected="false">BAB V</button>
                    <br>
                    <button class="nav-link" id="v-pills-dapus-tab" data-toggle="pill" data-target="#v-pills-dapus"
                        type="button" role="tab" aria-controls="v-pills-dapus" aria-selected="false">DAFTAR
                        PUSTAKA</button>
                    <br>
                    <button class="nav-link" id="v-pills-lampiran-tab" data-toggle="pill"
                        data-target="#v-pills-lampiran" type="button" role="tab" aria-controls="v-pills-lampiran"
                        aria-selected="false">LAMPIRAN</button>
                    <br>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <a href="{{b.cover.url}}" download style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh Cover</a>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" type="application/pdf" src="{{b.cover.url}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <a href="{{b.daftarisi.url}}" download
                            style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh Daftar Isi</a>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{b.daftarisi.url}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab1" role="tabpanel" aria-labelledby="v-pills-bab1-tab">
                        <a href="{{b.bab1.url}}" download style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh BAB I</a>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{b.bab1.url}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab2" role="tabpanel" aria-labelledby="v-pills-bab2-tab">
                        <a href="{{b.bab2.url}}" download style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh BAB II</a>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{b.bab2.url}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab3" role="tabpanel" aria-labelledby="v-pills-bab3-tab">
                        <a href="{{b.bab3.url}}" download style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh BAB III</a>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{b.bab3.url}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab4" role="tabpanel" aria-labelledby="v-pills-bab4-tab">
                        <!-- <a href="{{b.bab4.url}}" download style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh BAB IV</a> -->
                        <h5 class="text-center">Hubungi staf</h5>
                    </div>
                    <div class="tab-pane fade" id="v-pills-ba5" role="tabpanel" aria-labelledby="v-pills-ba5-tab">
                        <!-- <a href="{{b.bab5.url}}" download style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh BAB V</a> -->
                        <h5 class="text-center">Hubungi Staf</h5>
                    </div>
                    <div class="tab-pane fade" id="v-pills-dapus" role="tabpanel" aria-labelledby="v-pills-dapus-tab">
                        <a href="{{b.dapus.url}}" download style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh Daftar Pustaka</a>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{b.dapus.url}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-lampiran" role="tabpanel" aria-labelledby="v-pills-bab5-tab">
                        <a href="{{b.lampiran.url}}" download
                            style="color: #5f7667; font-weight: bold; float: right;"><i
                                class="fa-solid fa-file-pdf"></i>Unduh Lampiran</a>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{b.lampiran.url}}" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% elif kartul %}
    {% for b in kartul %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="mb-3">
                    <h3 class="text-center" style="color: #5f7667; font-weight: bold;">{{b.judul_laporan}}</h3>
                </div>
                <div class="mb-3">
                    <h6 class="text-center text-secondary">{{b.nama_penulis}}, {{b.prodi}},
                        {{b.tahun_penyelesaian}}
                        {% for u in request.user.groups.all %}
                        {% if u.name == 'user' %}
                        <a href="/results/{{b.pk}}/post_favorite_kartul/" class="btn"><i class="fa-solid fa-bookmark"
                                style="color: #7D9D9C;"></i></a>
                        {% endif %}
                        {% endfor %}
                    </h6>
                </div>
                <div class="mb-0">
                    <p class="text-center">
                        {{b.abstrak}}
                    </p>
                </div>
                <div class="mb-3 text-center">
                    <a href="{{b.upload.url}}" download style="color: #5f7667; font-weight: bold;"><i
                            class="fa-solid fa-file-pdf"></i> Unduh
                        Files</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="{{b.upload.url}}" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>Data not found.</p>
{% endif %}
</div>


<!-- <div class="col-2"></div> -->
{% endblock %}