{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<div class="content-wrapper" style="background-color: #dbe7c8;">
    {% if skripsi %}
    {% for b in skripsi %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="mb-3">
                <h3 class="text-center" style="color: #5f7667; font-weight: bold;">{{b.judul_laporan}}</h3>
            </div>
            <div class="mb-3">
                <h6 class="text-center text-secondary">{{b.nama_penulis}}, {{b.prodi}},
                    {{b.tahun_penyelesaian}}
                </h6>
            </div>
            <div class="mb-0">
                <p class="text-center">
                    {{b.abstrak}}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home"
                        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">COVER</button>
                    <br>
                    <button class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
                        data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">DAFTAR
                        ISI</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab1-tab" data-toggle="pill" data-target="#v-pills-bab1"
                        type="button" role="tab" aria-controls="v-pills-bab1" aria-selected="false">BAB I</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab2-tab" data-toggle="pill" data-target="#v-pills-bab2"
                        type="button" role="tab" aria-controls="v-pills-bab2" aria-selected="false">BAB II</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab3-tab" data-toggle="pill" data-target="#v-pills-bab3"
                        type="button" role="tab" aria-controls="v-pills-bab3" aria-selected="false">BAB III</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab4-tab" data-toggle="pill" data-target="#v-pills-bab4"
                        type="button" role="tab" aria-controls="v-pills-bab4" aria-selected="false">BAB IV</button>
                    <br>
                    <button class="nav-link" id="v-pills-bab5-tab" data-toggle="pill" data-target="#v-pills-bab5"
                        type="button" role="tab" aria-controls="v-pills-bab5" aria-selected="false">BAB V</button>
                    <br>
                    <button class="nav-link" id="v-pills-dapus-tab" data-toggle="pill" data-target="#v-pills-dapus"
                        type="button" role="tab" aria-controls="v-pills-dapus" aria-selected="false">DAFTAR
                        PUSTAKA</button>
                    <br>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{b.cover.url}}"  allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="/{{daftarisi}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <div class="embed-responsive embed-responsive-4by3">
                            <!-- <img src="/{{cover}}" alt="" srcset=""> -->
                            <!-- <embed src="/{{ cover }}" type="application/pdf" height="700px" width="500px"> -->
                            <!-- <iframe
                                    src="https://docs.google.com/gview?url=https://path.com/to/your/pdf.pdf&embedded=true"
                                    style="width:600px; height:500px;" frameborder="0"></iframe> -->

                            <!-- <object data="/media/test.pdf" type="application/pdf" width="100%" height="100%">
                                    <p>Alternative text - include a link <a href="/media/test.pdf">to the PDF!</a></p>
                                  </object> -->
                            <iframe class="embed-responsive-item" src="/{{bab1}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab1" role="tabpanel" aria-labelledby="v-pills-bab1-tab">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="/{{bab2}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab2" role="tabpanel" aria-labelledby="v-pills-bab2-tab">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="/{{bab3}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab3" role="tabpanel" aria-labelledby="v-pills-bab3-tab">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="/{{bab4}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab4" role="tabpanel" aria-labelledby="v-pills-bab4-tab">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="/{{bab5}}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bab5" role="tabpanel" aria-labelledby="v-pills-bab5-tab">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="/{{dapus}}" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% elif kartul %}
    {% for b in kartul %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="mb-3">
                <h3 class="text-center" style="color: #5f7667; font-weight: bold;">{{b.judul_laporan}}</h3>
            </div>
            <div class="mb-3">
                <h6 class="text-center text-secondary">{{b.nama_penulis}}, {{b.prodi}},
                    {{b.tahun_penyelesaian}}
                </h6>
            </div>
            <div class="mb-0">
                <p class="text-center">
                    {{b.abstrak}}
                </p>
            </div>
            <div class="mb-3 text-center">
                <a href="{{b.upload.url}}" download style="color: #5f7667; font-weight: bold;"><i
                        class="fa-solid fa-file-pdf"></i> Unduh
                    Files</a>
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="/media/skripsi/Journal_Hatami_2_USJQE36.pdf"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>Data not found.</p>
{% endif %}
</div>


<!-- <div class="col-2"></div> -->
{% endblock %}