{% extends "administration/base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper" style="background-color: #dbe7c8;">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Welcome {{request.user}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin transparent">
      <div class="row">
        <div class="col-md-4 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <div class="card-body" style="cursor: pointer;" onclick="goTo('/administration/skripsi/')">
              <p class="mb-4">Total Skripsi</p>
              <p class="fs-30 mb-2">{{data}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 stretch-card transparent">
          <div class="card card-dark-blue" style="cursor: pointer;" onclick="goTo('/administration/skripsi/')">
            <div class="card-body">
              <p class="mb-4">Total Jurnal</p>
              <p class="fs-30 mb-2">{{karlis}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 stretch-card transparent">
          <div class="card card-light-blue">
            <div class="card-body" style="cursor: pointer;" onclick="goTo('/administration/skripsi/')">
              <p class="mb-4">Total Mahasiswa</p>
              <p class="fs-30 mb-2">{{user}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function goTo(url) {
    window.location.href = url
  }
</script>
{% endblock %}