{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
<main id="main">
    <style>
        #hero {
            width: 100%;
            height: 100vh;
            position: relative;
            background: url("../img/santri.jpeg") top center;
            background-size: cover;
        }

        #hero:before {
            content: "";
            background: linear-gradient(180deg, rgba(89, 178, 30, 0.93) 0%, rgba(196, 191, 41, 0.62) 100%);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }

        #hero .container {
            padding-top: 80px;
        }

        #hero img {
            width: 150px;
            height: 150px;
            margin-bottom: 30px;
        }

        #hero h1 {
            margin: 0;
            font-size: 60px;
            font-weight: 700;
            line-height: 72px;
            color: #fff;
            margin-bottom: 10px;
            font-family: "Poppins", sans-serif;
        }

        #hero h2 {
            color: #fff;
            margin: 10px 0 0 0;
            font-size: 22px;
        }

        #hero p {
            color: #fff;
            margin: 10px 0 0 0;
            font-size: 22px;
        }

        #hero .btn-get-started {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.5px;
            display: inline-block;
            padding: 14px 50px;
            border-radius: 10px;
            transition: 0.5s;
            margin-top: 30px;
            color: #fff;
            background: #007854;
            ;
        }

        #hero .btn-get-started:hover {
            background: #fff;
            color: #007854;
        }

        .icon-boxes {
            margin-top: 0;
        }

        .icon-box {
            padding: 50px 30px;
            position: relative;
            overflow: hidden;
            background: #fff;
            box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
            transition: all 0.3s ease-in-out;
            border-radius: 8px;
            z-index: 1;
        }

        .icon-box .title {
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 18px;
        }

        .icon-box .title a {
            color: #000;
            transition: 0.3s;
        }

        .icon-box .description {
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 0;
        }

        .icon-box .icon {
            margin-bottom: 20px;
            padding-top: 10px;
            display: inline-block;
            transition: all 0.3s ease-in-out;
            font-size: 36px;
            line-height: 1;
            color: #007854;
        }

        .icon-box:hover {
            transform: scale(1.08);
        }

        .icon-box:hover .title a {
            color: #007854;
        }

        @media (min-width: 1024px) {
            #hero {
                background-attachment: fixed;
            }
        }

        @media (max-height: 800px) {
            #hero {
                height: auto;
            }
        }

        @media (max-width: 992px) {
            #hero {
                height: auto;
            }

            #hero h1 {
                font-size: 28px;
                line-height: 36px;
            }

            #hero h2 {
                font-size: 18px;
                line-height: 24px;
            }
        }

        /* # Services */
        /* --------------------------------------------------------------*/
        .btn-circle.btn-xl {
            width: 88px;
            height: 88px;
            padding: 10px 16px;
            font-size: 32px;
            line-height: 1.33;
            border-radius: 50px;
            background-color: #fff;
            color: #007854;
            border-color: #007854;

        }

        .btn-circle.btn-xl:hover {
            background: #007854;
            color: #fff
        }

        */ .services .icon-box {
            text-align: center;
            padding: 70px 20px 80px 20px;
            transition: all ease-in-out 0.3s;
            background: #fff;
            box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
        }

        .services .icon-box .icon {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: ease-in-out 0.3s;
            position: relative;
        }

        .services .icon-box .icon i {
            font-size: 36px;
            transition: 0.5s;
            position: relative;
        }

        .services .icon-box .icon svg {
            position: absolute;
            top: 0;
            left: 0;
        }

        .services .icon-box .icon svg path {
            transition: 0.5s;
            fill: #f5f5f5;
        }

        .services .icon-box h4 {
            font-weight: 600;
            margin: 10px 0 15px 0;
            font-size: 22px;
        }

        .services .icon-box h4 a {
            color: #124265;
            transition: ease-in-out 0.3s;
        }

        .services .icon-box p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }

        .services .icon-box:hover {
            border-color: #fff;
            box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
        }

        .services .iconbox-blue i {
            color: #47aeff;
        }

        .services .iconbox-blue:hover .icon i {
            color: #fff;
        }

        .services .iconbox-blue:hover .icon path {
            fill: #47aeff;
        }

        .services .iconbox-orange i {
            color: #ffa76e;
        }

        .services .iconbox-orange:hover .icon i {
            color: #fff;
        }

        .services .iconbox-orange:hover .icon path {
            fill: #ffa76e;
        }

        .services .iconbox-pink i {
            color: #e80368;
        }

        .services .iconbox-pink:hover .icon i {
            color: #fff;
        }

        .services .iconbox-pink:hover .icon path {
            fill: #e80368;
        }

        .services .iconbox-yellow i {
            color: #ffbb2c;
        }

        .services .iconbox-yellow:hover .icon i {
            color: #fff;
        }

        .services .iconbox-yellow:hover .icon path {
            fill: #ffbb2c;
        }

        .services .iconbox-red i {
            color: #ff5828;
        }

        .services .iconbox-red:hover .icon i {
            color: #fff;
        }

        .services .iconbox-red:hover .icon path {
            fill: #ff5828;
        }

        .services .iconbox-teal i {
            color: #11dbcf;
        }

        .services .iconbox-teal:hover .icon i {
            color: #fff;
        }

        .services .iconbox-teal:hover .icon path {
            fill: #11dbcf;
        }

        */ .contact .info {
            width: 100%;
            background: #fff;
        }

        .contact .info i {
            font-size: 20px;
            color: #2487ce;
            float: right;
            width: 44px;
            text-align: right;
            height: 44px;
            background: #e3f0fa;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }

        .contact .info h4 {
            padding: 0 0 0 60px;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #124265;
        }

        .contact .info p {
            padding: 0 0 0 60px;
            margin-bottom: 0;
            font-size: 14px;
            color: #217bbc;
        }

        .contact .info .email,
        .contact .info .phone {
            margin-top: 40px;
        }

        .contact .info .email:hover i,
        .contact .info .address:hover i,
        .contact .info .phone:hover i {
            background: #2487ce;
            color: #fff;
        }

        .contact .php-email-form {
            width: 100%;
            background: #fff;
        }

        .contact .php-email-form .form-group {
            padding-bottom: 8px;
        }

        .contact .php-email-form .error-message {
            display: none;
            color: #fff;
            background: #ed3c0d;
            text-align: left;
            padding: 15px;
            font-weight: 600;
        }

        .contact .php-email-form .error-message br+br {
            margin-top: 25px;
        }

        .contact .php-email-form .sent-message {
            display: none;
            color: #fff;
            background: #18d26e;
            text-align: center;
            padding: 15px;
            font-weight: 600;
        }

        .contact .php-email-form .loading {
            display: none;
            background: #fff;
            text-align: center;
            padding: 15px;
        }

        .contact .php-email-form .loading:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid #18d26e;
            border-top-color: #eee;
            -webkit-animation: animate-loading 1s linear infinite;
            animation: animate-loading 1s linear infinite;
        }

        .contact .php-email-form input,
        .contact .php-email-form textarea {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
            border-radius: 4px;
        }

        .contact .php-email-form input:focus,
        .contact .php-email-form textarea:focus {
            border-color: #2487ce;
        }

        .contact .php-email-form input {
            height: 44px;
        }

        .contact .php-email-form textarea {
            padding: 10px 12px;
        }

        .contact .php-email-form button[type=submit] {
            background: #2487ce;
            border: 0;
            padding: 10px 30px;
            color: #fff;
            transition: 0.4s;
            border-radius: 4px;
        }

        .contact .php-email-form button[type=submit]:hover {
            background: #3194db;
        }

        @-webkit-keyframes animate-loading {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes animate-loading {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .cta {
            background: #007854;
            background-size: cover;
            padding: 60px 0;
        }

        .cta h3 {
            color: #fff;
            font-size: 28px;
            font-weight: 700;
        }

        .cta p {
            color: #fff;
        }

        .cta .cta-btn {
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 10px 35px;
            border-radius: 5px;
            transition: 0.5s;
            margin-top: 10px;
            border: 2px solid #fff;
            color: #fff;
        }

        .cta .cta-btn:hover {
            background: #fff;
            color: #007854;
        }

        .berita .testimonials-carousel,
        .berita .testimonials-slider {
            overflow: hidden;
        }

        .berita .testimonial-item {
            box-sizing: content-box;
            text-align: center;
            min-height: 320px;
        }

        .berita .testimonial-img {
            width: 300px;
            height: 300px;
            margin: 0 auto;
        }

        .berita .testimonial-item h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: #111;
        }

        .berita .testimonial-item h4 {
            font-size: 14px;
            color: #999;
            margin: 0;
        }

        .berita .testimonial-item .quote-icon-left,
        .berita .testimonial-item .quote-icon-right {
            color: #c9e3f5;
            font-size: 26px;
        }

        .berita .testimonial-item .quote-icon-left {
            display: inline-block;
            left: -5px;
            position: relative;
        }

        .berita .testimonial-item .quote-icon-right {
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;
        }

        .berita .testimonial-item p {
            font-style: italic;
            margin: 0 15px 15px 15px;
            padding: 20px;
            background: #f3f9fd;
            position: relative;
            margin-bottom: 35px;
            border-radius: 6px;
        }

        .berita .testimonial-item p::after {
            content: "";
            width: 0;
            height: 0;
            border-top: 20px solid #f3f9fd;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            position: absolute;
            bottom: -20px;
            left: calc(50% - 20px);
        }

        .berita .swiper-pagination {
            margin-top: 20px;
            position: relative;
        }

        .berita .swiper-pagination .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            border: 1px solid #2487ce;
        }

        .berita .swiper-pagination .swiper-pagination-bullet-active {
            background-color: #2487ce;
        }
        .portfolio .portfolio-item {
            margin-bottom: 30px;
        }

        .portfolio #portfolio-flters {
            padding: 0;
            margin: 0 auto 35px auto;
            list-style: none;
            text-align: center;
            border-radius: 50px;
            padding: 2px 15px;
        }

        .portfolio #portfolio-flters li {
            cursor: pointer;
            display: inline-block;
            padding: 10px 15px 8px 15px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            color: #444444;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
        }

        .portfolio #portfolio-flters li:hover,
        .portfolio #portfolio-flters li.filter-active {
            color: #2487ce;
        }

        .portfolio #portfolio-flters li:last-child {
            margin-right: 0;
        }

        .portfolio .portfolio-wrap {
            transition: 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        .portfolio .portfolio-wrap::after {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .portfolio img {
            width: auto;
            height: 100%;
            max-width: none;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }

        .portfolio .portfolio-wrap::before {
            content: "";
            background: rgba(36, 135, 206, 0.6);
            position: absolute;
            left: 30px;
            right: 30px;
            top: 30px;
            bottom: 30px;
            transition: all ease-in-out 0.3s;
            z-index: 2;
            opacity: 0;
        }

        .portfolio .portfolio-wrap .portfolio-info {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            z-index: 3;
            transition: all ease-in-out 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .portfolio .portfolio-wrap .portfolio-info::before {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 35px;
            left: 35px;
            border-top: 3px solid #fff;
            border-left: 3px solid #fff;
            transition: all 0.5s ease 0s;
            z-index: 9994;
        }

        .portfolio .portfolio-wrap .portfolio-info::after {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 35px;
            right: 35px;
            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            transition: all 0.5s ease 0s;
            z-index: 9994;
        }

        .portfolio .portfolio-wrap .portfolio-info h4 {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
        }

        .portfolio .portfolio-wrap .portfolio-info p {
            color: #ffffff;
            font-size: 14px;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
        }

        .portfolio .portfolio-wrap .portfolio-links {
            text-align: center;
            z-index: 4;
        }

        .portfolio .portfolio-wrap .portfolio-links a {
            color: rgba(255, 255, 255, 0.6);
            margin: 0 2px;
            font-size: 28px;
            display: inline-block;
            transition: 0.3s;
        }

        .portfolio .portfolio-wrap .portfolio-links a:hover {
            color: #fff;
        }

        .portfolio .portfolio-wrap:hover::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }

        .portfolio .portfolio-wrap:hover .portfolio-info {
            opacity: 1;
        }

        .portfolio .portfolio-wrap:hover .portfolio-info::before {
            top: 15px;
            left: 15px;
        }

        .portfolio .portfolio-wrap:hover .portfolio-info::after {
            bottom: 15px;
            right: 15px;
        }



        /*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
        .portfolio-details {
            padding-top: 40px;
        }

        .portfolio-details .portfolio-details-slider img {
            width: 100%;
        }

        .portfolio-details .portfolio-details-slider .swiper-pagination {
            margin-top: 20px;
            position: relative;
        }

        .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            border: 1px solid #2487ce;
        }

        .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
            background-color: #2487ce;
        }

        .portfolio-details .portfolio-info {
            padding: 30px;
            box-shadow: 0px 0 30px rgba(18, 66, 101, 0.08);
        }

        .portfolio-details .portfolio-info h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }

        .portfolio-details .portfolio-info ul {
            list-style: none;
            padding: 0;
            font-size: 15px;
        }

        .portfolio-details .portfolio-info ul li+li {
            margin-top: 10px;
        }

        .portfolio-details .portfolio-description {
            padding-top: 30px;
        }

        .portfolio-details .portfolio-description h2 {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .portfolio-details .portfolio-description p {
            padding: 0;
        }
    </style>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center"
        style="background-image: url('./static/frontend/assets/img/santri.jpeg');">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            {% for u in home %}
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 text-center">
                    <img src="{{u.logo.url}}" alt="" srcset="">
                    <h1>{{u.h1}}</h1>
                    <h3 class="text-white">{{u.nama_pondok}}</h3>
                    <p>{{u.alamat}}</p>
                    <p>{{u.telpon}}</p>
                </div>
            </div>
            <div class="text-center">
                <br><br><br>
                <a href="#about" class="btn-get-started scrollto">Daftar Sekarang</a>
            </div>

            <div class="row icon-boxes">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                    data-aos-delay="200">

                </div>
            </div>
            {% endfor %}

    </section>
    <!-- ======= Tentang Kami Section ======= -->
    <section id="tentangkami" class="about-video">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Tentang Kami</h2>
            </div>
            {% for u in tentang %}
            <div class="row">
                <div class="col-lg-6 content align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                    <img src="{{u.image.url}}" class="img-fluid" alt="">
                    <br><br>
                    <h4 class="text-center" style="font-size: 16px;"> <strong>Pengasuh Pondok Pesantren Luthful Ulum.
                            {{u.nama_pengasuh}}</strong></h4>
                </div>

                <div class="col-lg-6 pt-3 pt-lg-0 content">
                    <p class="text-black"
                        style="line-height:2.5em; font-weight: 500;font-size: 16px; text-align: justify; margin-top: 0;">
                        {{u.desc}}
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
    <!-- Start Visi Section -->
    <section id="visi" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Visi & Misi Pesantren</h2>
                <h6>Sebagai Pesatren Modern, PP. Luthful Ulum siap untuk mewujudkan generasi Qur’ani serta lembaga
                    pendidikan dan sosial berbasis lingkungan yang profesional, mandiri, dan islami. </h6>
            </div>
            <div class="row icon-boxes">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                    data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-stack-line"></i></div>
                        <h4 class="title description"><a href="">Terwujudnya lembaga pendidikan dan sosial berbasis
                                lingkungan yang profesional, mandiri, dan islami.</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                    data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-palette-line"></i></div>
                        <h4 class="title description"><a href="">Terselenggaranya pendidikan ilmiah, amaliyah, dan
                                diniyah yang terintegrasi.</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-command-line"></i></div>
                        <h4 class="title description"><a href="">Tersalurkannya beasiswa bagi yatim, dhuafa, dan siswa
                                yang berprestasi.</a></h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                    data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-fingerprint-line"></i></div>
                        <h4 class="title description"><a href="">Terwujudnya lembaga yang memiliki tata kelola
                                terstandarisasi</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="galeri" class="testimonials">
        <div class="container" data-aos="fade-up">
            <div class="container" data-aos="fade-up">
                
                <div class="section-title">
                    <h2>Galeri</h2>
                    <p>Kumpulan kegiatan santriwan santriwati</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        {% for u in galeri %}

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <img src="{{u.image.url}}" height="200px" width="300px" class="img-fluid" alt="">
                                </p>
                                <h3>{{u.desc}}</h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= ukm Section ======= -->
    <section id="ukm" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Ekstrakulikuler</h2>
                <p>Dalam menunjang pembelajaran santri serta mengembangkan lifeskill santri, kami menggelar beberapa
                    kegiatan ekstrakurikuler sebagai penyalur bakat minat santri.</p>
            </div>
            
            <div class="row">
                {% for u in ukm %}
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <button type="button" class="btn btn-circle btn-xl"> <i class='{{u.icon}}'></i>
                            </button>
                        </div>
                        <h4>{{u.nama_ekstra}}</h4>
                        <p>{{u.desc}}</p>
                    </div>
                </div>
                {% endfor %}

                <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <button type="button" class="btn btn-circle btn-xl"> <i class='bx bxs-book-reader'></i>
                            </button>
                        </div>
                        <h4>Qira'atul Qur'an</h4>
                        <p>Para siswa akan belajar bagaimana menjadi seorang Qari dan Qari’ah yang baik dan benar</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <button type="button" class="btn btn-circle btn-xl"> <i class='bx bxs-user'></i>
                            </button>
                        </div>
                        <h4>Da'i</h4>
                        <p>Para siswa akan belajar bagaimana menjadi seorang Qari dan Qari’ah yang baik dan benar</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <button type="button" class="btn btn-circle btn-xl"> <i class='bx bxs-bar-chart-alt-2'></i>
                            </button>
                        </div>
                        <h4>Entrepreneur</h4>
                        <p>Para santri akan dibekali wawasan dan skill tentang enterpreanurship</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <button type="button" class="btn btn-circle btn-xl"> <i class='bx bxs-pen'></i>
                            </button>
                        </div>
                        <h4>Kaligrafi</h4>
                        <p>Para siswa akan dibekali keterampilan dalam menulis arab dengan cantik dan baik</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box ">
                        <div class="icon">
                            <button type="button" class="btn btn-circle btn-xl"> <i class='bx bxs-network-chart'></i>
                            </button>
                        </div>
                        <h4>Kepramukaan</h4>
                        <p>Santri akan dibekali dasar-dasar kepramukaan hingga mahir</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box ">
                        <div class="icon">
                            <button type="button" class="btn btn-circle btn-xl"> <i class='bx bx-plus-medical'></i>
                            </button>
                        </div>
                        <h4>Palang Merah Remaja (PMR)</h4>
                        <p>Para santri akan dibekali wawasan dan skill untuk menjadi PMR yang tangguh</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box ">
                        <div class="icon">
                            <button type="button" class="btn btn-circle btn-xl"> <i class='bx bx-football'></i>
                            </button>
                        </div>
                        <h4>Sepak Bola</h4>
                        <p>Sebagai wadah bagi para santri yang ingin mengasah bakat tentang bermain sepak bola</p>
                    </div>
                </div> -->

            </div>

        </div>
    </section><!-- End Sevices Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="berita" class="testimonials">
        <div class="container" data-aos="fade-up">
            <a type="button" class="btn" href="{% url 'list-berita' %}"
                style="float: right; background-color: #007854; color: #fff;">Lihat
                Selengkapnya</a>

            <div class="section-title">
                <h2 class="ml-2">Berita Terkini</h2>
            </div>
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    
                    {% for u in berita %}
                    <div class="swiper-slide">
                        <img src="{{u.image.url}}" class="img-fluid"  alt="">
                        <div class="testimonial-item">
                            <p>
                                {{u.desc}}
                            </p>
                            <h3>{{u.nama_penulis}}</h3>
                            <h4 class="text-black">{{u.created_at}}</h4>
                            <a href="/berita/{{u.pk}}/">Selengkapnya....</a>
                        </div>
                    </div><!-- End testimonial item -->
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>


    <!-- ======= Prestasi Section ======= -->
    <section id="prestasi" class="faq section-bg">
        <div class="container" data-aos="fade-up">
            {% for u in prestasi %}

            <div class="section-title">
                <h2>Prestasi</h2>
                <p>Prestasi membanggakan senantiasa ditorehkan oleh para santriwan dan satriwati di setiap kejuaaraan
                    yang diikuti.</p>
            </div>

            <div class="faq-list">
                <ul>
                    <p>
                        1. {{u.nama}} Berlokasi di {{u.lokasi}} {{u.desc}}
                    </p>

                </ul>
            </div>
            {% endfor %}

        </div>
    </section><!-- End Prestasi Section -->

    <!-- ======= Cta Section ======= -->
    <section id="form" class="cta">
        {% for u in ppdb %}
        <div class="container" data-aos="zoom-in">
            <div class="text-center">
                <h3>FORMULIR PENDAFTARAN SANTRI BARU 2022 – 2023</h3>
                <p>Untuk formulir pendaftaran silahkan klik link dibawah ini</p>
                <a class="cta-btn" target="_blank" href="{{u.link_daftar}}">Daftar Sekarang</a>
            </div>
        </div>
    </section><!-- End Cta Section -->

    <style>
        .asu {
            text-align: left;
            line-height: 2.5rem;
        }
    </style>
    <!-- ======= Contact Section ======= -->
    <section id="inf" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Informasi & Brosur PPDB</h2>
                <div class="row">
                    <div class="col-4">
                        <h6 class="asu">A. Gelombang I Jalur Tes Tulis dan Wawancara</h6>
                        <ul class="asu">
                            <li>Tes Masuk ( Ahad, 03 April 2022 )</li>
                            <li>Wawancara ( 04 s/d 05 April 2022 )</li>
                            <li>Pengumuman ( 10 April 2022 )</li>
                            <li>MOS ( Tanggal Menyusul )</li>
                        </ul>
                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-5">
                        <h6 class="asu">B. Gelombang II Jalur Prestasi</h6>
                        <ul class="asu">
                            <li>Juara I, II, III minimal tingkat kabupaten</li>
                            <li>Lomba Akademik minimal tingkat kabupaten</li>
                            <li>Lomba non akademik minimal tingkat kabupaten</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <img style="width: 100%; height: 100%;" src="{{u.brosur.url}}">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="info">
                                <div class="address">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Lokasi:</h4>
                                    <p>{{u.lokasi}}</p>
                                </div>

                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>{{u.email}}</p>
                                </div>
                                <div class="phone">
                                    <i class="bi bi-phone"></i>
                                    <h4>Telpon:</h4>
                                    <p>{{u.telpon}}</p>
                                </div>
                                <div class="phone">
                                    <h4>
                                        <a class="btn" style="color: #fff; background-color: #007854;" type="text"
                                            href="{{u.brosur.url}}" download>Unduh Brosur</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
    {% endfor %}


</main><!-- End #main -->

{% endblock %}