{% extends 'administration/base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Profile</h3>
                </div>
            </div>
        </div>
    </div>
    <form action="{% url 'administration:profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="{{ profile.get_avatar }}" alt="Admin" class="rounded-circle p-1 bg-primary"
                                        width="200px" height="200px">
                                    <div class="mt-2">
                                        <h4>{{ profile.user.get_full_name }}</h4>
                                        <p class="text-muted font-size-sm">{{ profile.address|default:'' }}</p>
                                    </div>
                                </div>
                                <hr class="my-1">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">Nama Pengguna</h6>
                                        <span class="text-secondary">{{ profile.user.username }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">Email</h6>
                                        <span class="text-secondary">{{ request.user.email }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">Tanggal Lahir</h6>
                                        <span class="text-secondary">{{ profile.birthday}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">Nomor Telepon </h6>
                                        <span class="text-secondary">{{ profile.phone }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">Prodi</h6>
                                        <span class="text-secondary">{{ profile.prodi|default:'' }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">NIM</h6>
                                        <span class="text-secondary">{{profile.nim}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">Dosen Pembimbing</h6>
                                        <span class="text-secondary">{{pkl.nama_dosen}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">Mitra</h6>
                                        <span class="text-secondary">{{pkl.nama_mitra}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div>
                                                <label for="first_name">Nama Depan</label>
                                                <input name="first_name" class="form-control" id="first_name" type="text"
                                                    placeholder="Nama depan" value="{{ profile.user.first_name }}"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div>
                                                <label for="last_name">Nama Belakang</label>
                                                <input name="last_name" class="form-control" id="last_name" type="text"
                                                    placeholder="Nama Belakang" value="{{ profile.user.last_name }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="birthday">Tanggal Lahir</label>
                                                <input name="birthday" class="form-control" id="birthday" type="date"
                                                    placeholder="dd/mm/yyyy" value="{{ profile.birthday}}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="phone">Nomor Telpon</label>
                                                <input name="phone" class="form-control" id="phone" type="number"
                                                    placeholder="+62-345 678 910" value="{{ profile.phone }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input name="email" class="form-control" id="email" type="email"
                                                    placeholder="name@company.com" value="{{ profile.user.email }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="nim">NIM</label>
                                                <input name="nim" class="form-control" id="nim" type="number"
                                                    placeholder="NIM." value="{{ profile.nim}}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 mb-2">
                                            <div class="form-group">
                                                <label for="address">Alamat</label>
                                                <input name="address" class="form-control" id="address" type="text"
                                                    placeholder="Alamat" value="{{ profile.address|default:'' }}"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <div class="form-group">
                                                <label for="PRODI">Program Studi</label>
                                                <select name="prodi" class="form-select form-control mb-0" id="prodi">
                                                <option selected>--Pilihan--</option>
                                                {% for key, value in profile.PRODI %}
                                                    <option value="{{ key }}"
                                                            {% if profile.prodi == key %}selected{% endif %}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="city">Dosen Pembimbing</label>
                                                <input class="form-control" value="{{ pkl.nama_dosen }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="zip">Mitra</label>
                                                <input class="form-control" value="{{ pkl.nama_mitra}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="avatar">Tambahkan Foto</label>
                                                <input name="avatar" class="form-control" type="file">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="avatar">Format Gambar</label>
                                                <div class="d-md-block text-left">
                                                    <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <style>
                body {
                    background: -webkit-linear-gradient(left, #dfdeeb, #00c6ff);
            
                }
            
                .card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 0 solid transparent;
                    border-radius: .25rem;
                    margin-bottom: 1.5rem;
                    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
                }
            
                .me-2 {
                    margin-right: .5rem !important;
                }
            </style>
            {% endblock %}
            
            </div>
        </div>
    </form>
</div>
{% endblock %}