{% load static %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo mr-5" href="/"><img src="{% static 'admin/template/images/logo.svg' %}"
        class="mr-2" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" href="/administration"><img
        src="{% static 'admin/template/images/logo-mini.svg' %}" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button>

    <ul class="navbar-nav mr-lg-2">
      <li class="nav-item nav-search d-none d-lg-block">
        <form class="" action="/results/" method="get">
          <div class="input-group">
            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
              <span class="input-group-text" id="search">
                <i class="icon-search"></i>
              </span>
            </div>
            <input type="text" name="q" class="form-control" id="navbar-search-input" placeholder="Search now"
              aria-label="search" aria-describedby="search">
          </div>
        </form>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
          <img src="{% static 'admin/template/images/faces/face28.jpg' %}" alt="profile" />
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          {% if request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'list_fav' %}">
            <i class="ti-settings text-primary"></i>
            Bookmark
          </a>
          <a class="dropdown-item" href="{% url 'logout' %}">
            <i class="ti-power-off text-primary"></i>
            Logout
          </a>
          {% else %}
          <a class="dropdown-item" href="{% url 'login' %}">
            <i class="ti-settings text-primary"></i>
            Login
          </a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel" style="width: 100%;">
