{% extends 'administration/base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Data Skripsi</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive col-md-10" id="" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <td>Nama Penulis</td>
                                <td>:</td>
                                <td>{{data.nama_penulis}}</td>
                              </tr>
                              <tr>
                                <td>NIM Mahasiswa</td>
                                <td>:</td>
                                <td>{{data.nim_siswa}}</td>
                              </tr>
                              <tr>
                                <td>Judul Jurnal</td>
                                <td>:</td>
                                <td>{{data.judul_laporan}}</td>
                              </tr>
                              <tr>
                                <td>Abstrak</td>
                                <td>:</td>
                                <td>
                                    <textarea cols="80" rows="10" style="border: 0;" readonly>{{data.abstrak}}</textarea></td>
                              </tr>
                              <tr>
                                <td>Tahun</td>
                                <td>:</td>
                                <td>{{data.tahun_penyelesaian}}</td>
                              </tr>
                              <tr>
                                <td>File Cover</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.cover.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File Lampiran</td>
                                <td>:</td>
                                <td><a style="color:#9C0000" href="{{data.lampiran.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File Daftar Isi</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.daftarisi.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File BAB I</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.bba1.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File BAB II</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.bab2.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File BAB III</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.bab3.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File BAB IV</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.bab4.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File BAB V</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.bab5.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File Daftar Pustaka</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.dapus.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>
                              <tr>
                                <td>File BAB III</td>
                                <td>:</td>
                                <td><a style="color:#9C0000"  href="{{data.bab3.url}}" download="file.pdf"><i class="fa-solid fa-file-pdf fa-2xl"></i></a></td>
                              </tr>

                              <tr>
                                <td>Tanggal Upload</td>
                                <td>:</td>
                                <td>{{data.created_at}}</td>
                              </tr>
                            </thead>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}