{% extends 'administration/base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Data Skripsi</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <a type="button" class="btn btn-primary rounded-pill" style="float: right;" href="{% url 'administration:create_skripsi' %}">
                        Tambah Data
                    </a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nama Penulis</th>
                                    <th>NIM Mahasiswa</th>
                                    <th>Prodi</th>
                                    <th>Judul Skripsi</th>
                                    <th>Tanggal </th>
                                    <th>Tahun</th>
                                </tr>
                            </thead>
                            {% for u in data %}
                            <tbody>
                                <tr>
                                    <td>{{u.nama_penulis}}</td>
                                    <td>{{u.nim_siswa}}</td>
                                    <td>{{u.prodi}}</td>
                                    <td>{{u.judul_laporan}}</td>
                                    <td>{{u.tahun_penyelesaian}}</td>
                                    <td>{{u.created_at}}</td>
                                    <td>
                                        <a type="button" class="btn btn-primary"
                                            href="/administration/skripsi/detail/{{u.pk}}/"><i
                                                class="fas fa-eye"></i></a>

                                        <a type="button" class="btn btn-warning"
                                            href="/administration/skripsi/update/{{u.pk}}/"><i
                                                class="fas fa-regular fa-pen text-white"></i></a>
                                        <a type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#delete-{{d.id}}">
                                            <i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <div class="modal fade" id="delete-{{d.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete">Delete Data Skripsi</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p> Do You want To delete
                                                <strong>{{d.id}}</strong>?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn" type="button" data-dismiss="modal" aria-label="Close">
                                                No
                                            </button>
                                            <a href="/administration/skripsi/{{u.pk}}/delete/" type="submit"
                                                class="btn btn-danger">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}