{% extends 'administration/base.html' %}
{% block content %}
<form class="forms-sample" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Edit Skripsi</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Nama Penulis</label>
                            <input class="form-control" type="text" name="nama_penulis" value="{{data.nama_penulis}}" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Judul Skripsi</label>
                            <input type="text" class="form-control" name="judul_laporan"
                                value="{{data.judul_laporan}}" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">NIM </label>
                            <input class="form-control" type="text" name="nim_siswa" value="{{data.nim_siswa}}" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Tahun</label>
                            <input type="text" class="form-control" name="tahun_penyelesaian"
                                value="{{data.tahun_penyelesaian}}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label>Prodi</label>
                            <select id="prodi" class="form-control" name="prodi">
                                <option value="informatika">Informatika</option>
                                <option value="Teknik Komputer">Teknik Komputer</option>
                                <option value="Teknik Elektro">Teknik Elektro</option>
                            </select>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>Cover</label>
                            <input type="file" name="cover" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.cover}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label>Abstrak</label>
                            <input type="file" name="abstrak" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.abstrak}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>Daftar Isi</label>
                            <input type="file" name="daftarisi" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.daftarisi}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB I</label>
                            <input type="file" name="bab1" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.bab1}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB II</label>
                            <input type="file" name="bab2" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.bab2}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB III</label>
                            <input type="file" name="bab3" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.bab3}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB IV</label>
                            <input type="file" name="bab4" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.bab4}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB V</label>
                            <input type="file" name="bab5" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.bab5}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>Lampiran</label>
                            <input type="file" name="lampiran" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.lampiran}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>Daftar Pustaka</label>
                            <input type="file" name="dapus" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="{{data.dapus}}">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}