{% extends 'administration/base.html' %}
{% block content %}
<form class="forms-sample" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="content-wrapper" style="background-color: #dbe7c8;">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Edit Skripsi</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Nama Penulis</label>
                            {{data.nama_penulis}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Judul Skripsi</label>
                            {{data.judul_laporan}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">NIM </label>
                            {{data.nim_siswa}}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Tahun</label>
                            {{data.tahun_penyelesaian}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label>Prodi</label>
                            {{data.prodi}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>Cover</label>
                            {{data.cover}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label>Daftar Isi</label>
                            {{data.daftarisi}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB I</label>
                            {{data.bab1}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB II</label>
                            {{data.bab2}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB III</label>
                            {{data.bab3}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB IV</label>
                            {{data.bab4}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>BAB V</label>
                            {{data.bab5}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label>Lampiran</label>
                            {{data.lampiran}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label>Daftar Pustaka</label>
                            {{data.dapus}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-12">
                            <label>Abstrak</label>
                            {{data.abstrak}}
                        </div>
                    </div>
                    <br>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}