{% load static %}
<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Premium <a
        href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All
      rights reserved.</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
        class="ti-heart text-danger ml-1"></i></span>
  </div>
</footer>

<script>
  setTimeout(function () {
      if ($('#msg').length > 0) {
          $('#msg').remove();
      }
  }, 2000)
</script>
<!-- plugins:js -->
<script src="{% static 'admin/template/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'admin/template/vendors/chart.js/Chart.min.js' %}"></script>
<!-- <script src="{% static 'admin/template/vendors/datatables.net/jquery.dataTables.js' %}"></script> --> 
<!-- <script src="{% static 'admin/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script> -->
<script src="{% static 'admin/template/js/dataTables.select.min.js' %}"></script>

<script src="{% static 'admin/template/js/off-canvas.js' %}"></script>
<script src="{% static 'admin/template/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin/template/js/template.js' %}"></script>
<script src="{% static 'admin/template/js/settings.js' %}"></script>
<script src="{% static 'admin/template/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'admin/template/js/dashboard.js' %}"></script>
<script src="{% static 'admin/template/js/Chart.roundedBarCharts.js' %}"></script>

<script src="{% static 'admin/template/js/file-upload.js' %}"></script>
<script src="{% static 'admin/template/js/typeahead.js' %}"></script>
<script src="{% static 'admin/template/js/select2.js' %}"></script>
<!-- End custom js for this page-->
</body>

</html>