{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Repopsitory FTI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin/template/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'admin/template/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin/template/vendors/css/vendor.bundle.base.css' %}">
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin/template/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'admin/inf.png' %}" />
</head>

<body>
  <div class="container-scroller">